
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* El * sirve para que se aplique en todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.bodyGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 34.375rem 112.5rem 13.75rem;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}

.header {
    font-family: 'Poppins', sans-serif;
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-rows: 6.25rem 2.5rem 25.625rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "logo logo logo"
        " nav nav nav"
        " nav nav nav";

}

.headerSectionUno {
    display: flex;
    justify-content: space-between;
    background-color: black;
    grid-area: logo;
}

.headerLogo {
    height: 6.25rem;
    margin-left: .3125rem;
}

.cuenta {
    display: flex;
    align-items: end;
    gap: .625rem;
    margin-right: 1.25rem;
    margin-bottom: 2px;
}

.cuenta a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(248, 241, 241);
}

.banderaIdioma {
    width: 1.5rem;
    height: 1.5rem;

}

.headerSectionDos {
    grid-area: nav;
    height: 28.125rem;
    width: 100%;
    background-image: url(../assets/images/mercedes-benz-sl-amg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-color: rgb(242, 245, 242);
    border-width: .125rem;
}

.nav ul {
    list-style: none;
    display: flex;
    margin-left: .625rem;
    gap: .9375rem;
}

.nav ul li {
    padding: 4px 8px 2px 8px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 0px 0px 10px 10px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(248, 241, 241);
}

.slAmg {
    padding-left: 2.5rem;
    padding-top: 3.125rem;

}

.slAmg div h2 {
    font-size: 2.5rem;
    color: rgb(248, 241, 241);
    text-decoration-line: underline;
}

.slAmgTxt {
    font-size: 1.5rem;
    color: rgb(248, 241, 241);
    padding-top: 1.5rem;
    width: 18.75rem;
}

.button {
    padding-left: 2.8125rem;
    padding-top: 2.5rem;
}

.button button {
    background-color: rgba(0, 0, 0, 0.315);
    height: 2.5rem;
    width: 8.125rem;
    border-style: none;
}

.button a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}


/* INICIO MAIN INDEX*/

.main {
    
    grid-area: main;
    border-top:solid;
    border-width: .125rem;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1563694983011-6f4d90358083?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXMlMjBiZW56fGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6.25rem 37.5rem 2.5rem 43.75rem 2.5rem 18.75rem;
    grid-template-areas:
        "new new new"
        "n1 n1 n1"
        ". . ."
        "n2 n2 n2"
        ". . ."
        "us us us"
    ;
}

.news {
    grid-area: new;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3.75rem;
    padding-right: 1.25rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    color: white;
}

.noticiaUno {
    grid-area: n1;
    background: url(../assets/images/mbrojo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstNewsSection {
    grid-area: n1;
    width: 14.375rem;
    height: 25rem;
    padding: 1.875rem .9375rem .9375rem;
    margin-left: 3.75rem;
    font-size: 2.125rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    align-items: center;

}

.noticiaDos {
    grid-area: n2;
    background: url(../assets/images/lewis-hamilton-W14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.textoF1 {
    grid-area: n2;
    width: 12.5rem;
    height: 28.125rem;
    padding: 2.5rem .9375rem .9375rem;
    margin-right: 3.75rem;
    font-size: 2.125rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;


}

.aboutUs {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3.75rem;
}

.textoAboutUs {
    background-color: rgba(253, 252, 252, 0.185);
    color: white;
    font-size: 1.375rem;
    width: 90%;
    height: 11.25rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros {
    grid-area: us;
}


/* INICIO FOOTER */

.footer {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    grid-area: footer;
}

.logosFooter ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5625rem;
    padding-bottom: .9375rem;
    border-bottom-style: solid;
    border-color: white;
}

.mercedesLogoPie {
    height: 120px;
}

.amg {
    height: 120px;
}

.maybach {
    height: 120px;
}

.contactosRedes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactos ul {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1.125rem;
}

.contactos ul li {
    margin: 0px 20px 0px 20px;
}

.logosRedes ul {
    display: flex;
    list-style-type: none;
    padding-top: .5rem;

}

.instagram {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;


}

.facebook {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;


}

.twitter {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;


}

.youtube {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2.5rem;

}

/* INICIO VEHICULOS */

.bodyGridVehiculos {
    display: grid;
    width: 100%;
    grid-template-rows: 34.375rem 132.1875rem 13.75rem;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.backgroundHeader {
    background-image: url(https://cdn.motor1.com/images/mgl/bexBr/s3/mercedes-eqb.jpg);
}

.buttonVehiculos button {
    background-color: rgba(0, 0, 0, 0.575);
}

.mainVehiculos {
    
    background-color: rgb(252 247 247);
    border-top:solid;
    border-width: .125rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 13.4375rem 30rem 18.125rem 26.875rem 43.75rem;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
}

.mainUno {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    border-bottom: solid;
    border-width: 1.5px;
}


.modelos ul {
    list-style-type: none;
    font-size: 1.75rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
    padding-bottom: .5rem;
    border-color: black;
    border-bottom: solid;
    border-width: 1.5px;
}


.iconosAutos ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1.125rem;
    margin-bottom: .3125rem;

}

.iconosAutos ul li h3 {
    font-size: 1.3125rem;

}

.mainDos {
    grid-area: dos;
    margin-top: 1.125rem;
    border-bottom: solid;
    color: black;
    border-width: 1.5px;
}

.mainDos h2 {
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
}

.mainDos img {
    width: 100%;
    object-fit: none;
    height: 25rem;
    display: flex;
    justify-content: center;
}

/* MAIN TRES */
.mainTres {
    grid-area: tres;
    border-bottom: solid;
    color: black;
    border-width: 1.5px;
}

.mainTres h2 {
    display: flex;
    justify-content: center;
    font-size: 2.1875rem;
    padding-top: .625rem
}

.gridListas {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
        "li ld";
}

.listLeft {
    grid-area: li;
    border-right: solid;
    border-color: black;
    border-width: .0625rem;

}

.listLeft ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 10%;
}

.listLeft ul li {
    list-style-type: none;
    margin: .625rem 0 .625rem 0;
    padding-left: .625rem;
    background-color: lightgray;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    height: 2.1875rem;
}

.listRight {
    grid-area: ld;
    border-left: solid;
    border-color: black;
    border-width: .0625rem;
}

.listRight ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 15%;
}

.listRight ul li {
    list-style-type: none;
    margin: .625rem 0 .625rem 0;
    padding-left: .625rem;
    background-color: lightgray;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    height: 2.1875rem;
}


/* MAIN CUATRO */

.mainCuatro {
    grid-area: cuatro;
    padding-top: 1.25rem;
    border-bottom: solid;
    border-color: black;
    border-width: .0938rem;

}

.mainCuatro h2 {
    display: flex;
    justify-content: center;
    font-size: 2.1875rem;
}

.gridMotor {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
        "listIzq listDer";
}

.gridMotor ul {
    grid-area: listIzq;
    font-size: 1.5625rem;
    padding: 5% 10% 5% 10%;
    border-right: solid;
    border-color: black;
    border-width: .0625rem;
}

.gridMotor ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 2.1875rem;
    margin: .625rem 0 .625rem 0;
    padding-left: .625rem;
    background-color: lightgray;
    border-radius: .625rem;
}

.gridMotor img {
    height: 18.75rem;
    width: 25rem;
    border-radius: 25%;
}

.ftMotor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid;
    border-color: black;
    border-width: .0625rem;
}

/* MAIN CINCO */

.mainCinco {
    grid-area: cinco;
    background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20230120/imag/foto_0000009720230120152324/Disen_o_interior_clase_SL_amg_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainCinco h2 {
    width: 8.75rem;
    text-align: center;
    background-color: black;
    font-size: 2.1875rem;
    color: white;
    margin-left: 1.25rem;
    margin-top: 1.25rem;

}


/* INICIO CAMIONES */

.bodyGridCamiones {
    display: grid;
    grid-template-rows: 34.375rem 133.125rem 13.75rem;
    grid-template-columns: 100%;
    grid-template-areas:
        "header "
        "main"
        "footer"
    ;

}

.backgroundHeaderCamiones {
    background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20221003/imag/foto_0000011620221003125309/1920_x_655.jpg);
}

.mainCamiones {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: rgb(252 247 247);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14.375rem 30rem 18.125rem 26.875rem 43.75rem;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";

}

.mainDosCamiones{
    margin-top: 0px ;
}
.mainDosCamiones h2{
    font-size: 2.1875rem;
    margin-bottom: .625rem;
    margin-top: .625rem;
}

.mainCincoCamiones{
    background-image: url(https://transportemundial.com.ar/wp-content/uploads/2020/10/actros-especial-edition-2-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.listRightCamiones {
    grid-area: ld;
    border-left: solid;
    border-color: black;
    border-width: .0625rem;
}

.listRightCamiones ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 3%;
}

.listRightCamiones ul li {
    list-style-type: none;
    margin: .625rem 0 .625rem 0;
    padding-left: .625rem;
    background-color: lightgray;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    height: 2.1875rem;
}


/* INICIO VANS */

.bodyGridVans{
    display: grid;
    grid-template-rows: 34.375rem 140rem 13.75rem;
    grid-template-columns: 100%;
    grid-template-areas:
        "header "
        "main"
        "footer"
    ;
}

.backgroundHeaderVans{
    background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20221021/imag/foto_0000000120221021121726/desktop_banner_na.jpg);
} 

.mainVans{
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: rgb(252 247 247);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 21.25rem 30rem 20rem 26.875rem 43.75rem;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";

}

.mainDosVans{
    margin-top: .3125rem;
}

.mainDosVans h2{
    margin-bottom: .75rem;
}

.gridListasVans{
    height: 15rem;
    padding-top: .9375rem;
    
}

.listRightVans {
    grid-area: ld;
    border-left: solid;
    border-color: black;
    border-width: .0625rem;
}

.listRightVans ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 3%;
}

.listRightVans ul li {
    list-style-type: none;
    margin: .625rem 0 .625rem 0;
    padding-left: .625rem;
    background-color: lightgray;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    height: 2.1875rem;
}


/* INICIO SERVICE */

.bodyGridService{
    display: grid;
    grid-template-rows: 34.375rem 140rem 13.75rem;
    grid-template-columns: 100%;
    grid-template-areas:
        "header "
        "main"
        "footer"
    ;
}

.backgroundHeaderService{
    background-image: url(https://www.mbusa.com/content/dam/mb-nafta/us/owners/maintenance-landing/Certified%20Collision.jpg) ;
}

.mainService{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: main;
    background-color: aquamarine;
}

.mainUnoService h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: .75rem;
    margin-bottom: .625rem ;
    text-decoration: underline;
}

.mainUnoService p{
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.formulario form ul {
    font-size: 1.5rem;
    height: 28.125rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 10%;
    
}

.formulario form ul li{
    margin: 12px 0 12px 40px;
}

.formulario input{
    width: 300px;
    height: 1.875rem;
}


/* medidas que usaremos:1024 768 425 375 320
@media (max-width:1024px){
    .headerSectionUno {
    }
} */