@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.header {
  font-family: 'Poppins', sans-serif;
  grid-area: header;
  display: grid;
  width: 100%;
  grid-template-rows: 6.25rem 2.5rem 25.625rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo logo logo" " nav nav nav" " nav nav nav"; }

.headerSectionUno {
  display: flex;
  justify-content: space-between;
  background-color: black;
  grid-area: logo; }
  .headerSectionUno img {
    height: 6.25rem;
    margin-left: .3125rem; }
  .headerSectionUno div {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: .625rem;
    margin-right: 1.25rem;
    margin-bottom: 2px; }
    .headerSectionUno div img {
      width: 1.5rem;
      height: 1.5rem; }
    .headerSectionUno div a {
      text-decoration: none;
      font-size: 16px;
      color: #f8f1f1; }

.headerSectionDos {
  grid-area: nav;
  height: 28.125rem;
  width: 100%;
  background-image: url(../assets/images/mercedes-benz-sl-amg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-style: solid;
  border-color: #f2f5f2;
  border-width: .125rem; }
  .headerSectionDos nav ul {
    list-style: none;
    display: flex;
    margin-left: .625rem;
    gap: .9375rem; }
    .headerSectionDos nav ul li {
      padding: 4px 8px 2px 8px;
      background-color: rgba(0, 0, 0, 0.76);
      border-radius: 0px 0px 10px 10px; }
      .headerSectionDos nav ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: #f8f1f1; }

.slAmg {
  padding-left: 2.5rem;
  padding-top: 3.125rem; }
  .slAmg div h2 {
    font-size: 2.5rem;
    color: #f8f1f1;
    text-decoration-line: underline; }

.slAmgTxt p {
  font-size: 1.5rem;
  color: #f8f1f1;
  padding-top: 1.5rem;
  width: 18.75rem; }

.button {
  padding-left: 2.8125rem;
  padding-top: 2.5rem; }
  .button button {
    background-color: rgba(0, 0, 0, 0.315);
    height: 2.5rem;
    width: 8.125rem;
    border-style: none; }
    .button button a {
      font-size: 1.25rem;
      text-decoration: none;
      color: white; }

.bodyGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 34.375rem 112.5rem 14.0625rem;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

.main {
  grid-area: main;
  border-top: solid;
  border-width: .125rem;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1563694983011-6f4d90358083?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXMlMjBiZW56fGVufDB8fDB8fHww&w=1000&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6.25rem 37.5rem 2.5rem 43.75rem 2.5rem 18.75rem;
  grid-template-areas: "new new new" "n1 n1 n1" ". . ." "n2 n2 n2" ". . ." "us us us"; }
  .main h2 {
    grid-area: new;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3.75rem;
    padding-right: 1.25rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    color: white; }

.noticiaUno {
  grid-area: n1;
  background: url(../assets/images/mbrojo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .noticiaUno div {
    grid-area: n1;
    width: 14.375rem;
    height: 25rem;
    padding: 1.875rem .9375rem .9375rem;
    margin-left: 3.75rem;
    font-size: 2.125rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    align-items: center; }

.noticiaDos {
  grid-area: n2;
  background: url(../assets/images/lewis-hamilton-W14.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end; }
  .noticiaDos div {
    grid-area: n2;
    width: 12.5rem;
    height: 28.125rem;
    padding: 2.5rem .9375rem .9375rem;
    margin-right: 3.75rem;
    font-size: 2.125rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center; }

.nosotros {
  grid-area: us; }
  .nosotros h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3.75rem; }
  .nosotros p {
    background-color: rgba(253, 252, 252, 0.185);
    color: white;
    font-size: 1.375rem;
    width: 90%;
    height: 11.25rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center; }

.bodyGridVehiculos {
  display: grid;
  width: 100%;
  grid-template-rows: 34.375rem 132.1875rem 14.0625rem;
  grid-template-areas: "header" "main" "footer"; }

.backgroundHeader {
  background-image: url(https://cdn.motor1.com/images/mgl/bexBr/s3/mercedes-eqb.jpg); }

.buttonVehiculos button {
  background-color: rgba(0, 0, 0, 0.575); }

.mainVehiculos {
  background-color: #ecebeb;
  border-top: solid;
  border-width: .125rem;
  grid-area: main;
  display: grid;
  grid-template-rows: 13.4375rem 30rem 18.125rem 26.875rem 43.75rem;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }

.mainUno {
  grid-area: uno;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: black;
  border-bottom: solid;
  border-width: 1.5px; }

.modelos ul {
  list-style-type: none;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: .5rem;
  padding-bottom: .5rem;
  border-color: black;
  border-bottom: solid;
  border-width: 1.5px; }

.iconosAutos ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1.125rem;
  margin-bottom: .3125rem; }
  .iconosAutos ul li h3 {
    font-size: 1.3125rem; }

.mainDos {
  grid-area: dos;
  margin-top: 1.125rem;
  border-bottom: solid;
  color: black;
  border-width: 1.5px; }
  .mainDos h2 {
    font-size: 1.875rem;
    display: flex;
    justify-content: center; }
  .mainDos img {
    width: 100%;
    object-fit: none;
    height: 25rem;
    display: flex;
    justify-content: center; }

/*MAIN TRES*/
.mainTres {
  grid-area: tres;
  border-bottom: solid;
  color: black;
  border-width: 1.5px; }
  .mainTres h2 {
    display: flex;
    justify-content: center;
    font-size: 2.1875rem;
    padding-top: .625rem; }

.gridListas {
  padding-top: 2.1875rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  grid-template-areas: "li ld"; }

.listLeft {
  grid-area: li;
  border-right: solid;
  border-color: black;
  border-width: .0625rem; }
  .listLeft ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 10%; }
    .listLeft ul li {
      list-style-type: none;
      margin: .625rem 0 .625rem 0;
      padding-left: .625rem;
      background-color: lightgray;
      border-radius: .625rem;
      display: flex;
      align-items: center;
      height: 2.1875rem; }

.listRight {
  grid-area: ld;
  border-left: solid;
  border-color: black;
  border-width: .0625rem; }
  .listRight ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 15%; }
    .listRight ul li {
      list-style-type: none;
      margin: .625rem 0 .625rem 0;
      padding-left: .625rem;
      background-color: lightgray;
      border-radius: .625rem;
      display: flex;
      align-items: center;
      height: 2.1875rem; }

/*MAIN CUATRO*/
.mainCuatro {
  grid-area: cuatro;
  padding-top: 1.25rem;
  border-bottom: solid;
  border-color: black;
  border-width: .0938rem; }
  .mainCuatro h2 {
    display: flex;
    justify-content: center;
    font-size: 2.1875rem; }

.gridMotor {
  padding-top: 2.1875rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  grid-template-areas: "listIzq listDer"; }
  .gridMotor ul {
    grid-area: listIzq;
    font-size: 1.5625rem;
    padding: 5% 10% 5% 10%;
    border-right: solid;
    border-color: black;
    border-width: .0625rem; }
    .gridMotor ul li {
      list-style-type: none;
      display: flex;
      align-items: center;
      height: 2.1875rem;
      margin: .625rem 0 .625rem 0;
      padding-left: .625rem;
      background-color: lightgray;
      border-radius: .625rem; }
  .gridMotor div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid;
    border-color: black;
    border-width: .0625rem; }
    .gridMotor div img {
      height: 18.75rem;
      width: 25rem;
      border-radius: 25%; }

/*MAIN CINCO*/
.mainCinco {
  grid-area: cinco;
  background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20230120/imag/foto_0000009720230120152324/Disen_o_interior_clase_SL_amg_desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .mainCinco h2 {
    width: 8.75rem;
    text-align: center;
    background-color: black;
    font-size: 2.1875rem;
    color: white;
    margin-left: 1.25rem;
    margin-top: 1.25rem; }

/*INICIO CAMIONES*/
.bodyGridCamiones {
  display: grid;
  grid-template-rows: 34.375rem 133.125rem 14.0625rem;
  grid-template-columns: 100%;
  grid-template-areas: "header " "main" "footer"; }

.backgroundHeaderCamiones {
  background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20221003/imag/foto_0000011620221003125309/1920_x_655.jpg); }

.mainCamiones {
  grid-area: main;
  border-top: solid;
  border-width: .125rem;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 14.375rem 30rem 18.125rem 26.875rem 43.75rem;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }

.mainDosCamiones {
  margin-top: 0px; }
  .mainDosCamiones h2 {
    font-size: 2.1875rem;
    margin-bottom: .625rem;
    margin-top: .625rem; }

.listRightCamiones {
  grid-area: ld;
  border-left: solid;
  border-color: black;
  border-width: .0625rem; }
  .listRightCamiones ul {
    font-size: 1.5625rem;
    padding-left: 0%;
    padding-right: 0%; }
    .listRightCamiones ul li {
      list-style-type: none;
      margin: .625rem 0 .625rem 0;
      padding-left: .625rem;
      background-color: lightgray;
      border-radius: .625rem;
      display: flex;
      align-items: center;
      height: 2.1875rem; }

.mainCincoCamiones {
  background-image: url(https://transportemundial.com.ar/wp-content/uploads/2020/10/actros-especial-edition-2-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.bodyGridVans {
  display: grid;
  grid-template-rows: 34.375rem 140rem 14.0625rem;
  grid-template-columns: 100%;
  grid-template-areas: "header " "main" "footer"; }

.backgroundHeaderVans {
  background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20221021/imag/foto_0000000120221021121726/desktop_banner_na.jpg); }

.mainVans {
  grid-area: main;
  border-top: solid;
  border-width: .125rem;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 21.25rem 30rem 20rem 26.875rem 43.75rem;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }

.mainDosVans {
  margin-top: .3125rem; }
  .mainDosVans h2 {
    margin-bottom: .75rem; }

.gridListasVans {
  height: 15rem;
  padding-top: .9375rem; }

.listRightVans {
  grid-area: ld;
  border-left: solid;
  border-color: black;
  border-width: .0625rem; }
  .listRightVans ul {
    font-size: 1.5625rem;
    padding-left: 10%;
    padding-right: 3%; }
    .listRightVans ul li {
      list-style-type: none;
      margin: .625rem 0 .625rem 0;
      padding-left: .625rem;
      background-color: lightgray;
      border-radius: .625rem;
      display: flex;
      align-items: center;
      height: 2.1875rem; }

/*INICIO SERVIDE*/
.bodyGridService {
  display: grid;
  grid-template-rows: 34.375rem 81.25rem 14.0625rem;
  grid-template-columns: 100%;
  grid-template-areas: "header " "main" "footer"; }

.backgroundHeaderService {
  background-image: url(https://www.mbusa.com/content/dam/mb-nafta/us/owners/maintenance-landing/Certified%20Collision.jpg); }

.mainService {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  grid-area: main;
  background-image: url(https://images.unsplash.com/photo-1563694983011-6f4d90358083?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXMlMjBiZW56fGVufDB8fDB8fHww&w=1000&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.mainUnoService h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: .75rem;
  margin-bottom: .625rem;
  text-decoration: underline;
  margin-bottom: 1.875rem; }

.mainUnoService p {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5rem; }

.formulario form ul {
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario form ul li {
    margin: 12px 0 12px 40px;
    display: flex;
    flex-direction: column; }
    .formulario form ul li input {
      width: 300px;
      height: 1.875rem; }
    .formulario form ul li label {
      width: 300px;
      height: 1.875rem; }

.formulario div {
  display: flex;
  justify-content: center;
  padding-left: 1.5625rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem; }
  .formulario div input {
    width: 4.6875rem;
    height: 2.5rem;
    font-size: 1.5rem; }

.footer {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  grid-area: footer; }

.logosFooter ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5625rem;
  padding-bottom: .9375rem;
  border-bottom-style: solid;
  border-color: white; }
  .logosFooter ul li img {
    height: 120px; }

.contactosRedes {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contactos ul {
  list-style-type: none;
  display: flex;
  color: white;
  font-size: 1.125rem; }
  .contactos ul li {
    margin: 0px 20px 0px 20px; }

.logosRedes ul {
  display: flex;
  list-style-type: none;
  padding-top: .5rem; }
  .logosRedes ul li img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem; }

@media (max-width: 1024px) {
  /*MAIN VEHICULOS*/
  .bodyGridVehiculos {
    display: grid;
    width: 100%;
    grid-template-rows: 34.375rem 145.3125rem 14.0625rem;
    grid-template-areas: "header" "main" "footer"; }
  .mainVehiculos {
    background-color: #ecebeb;
    border-top: solid;
    border-width: .125rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 13.4375rem 30rem 31.25rem 26.875rem 43.75rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  /*main tres*/
  .gridListas {
    padding-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .listLeft {
    grid-area: li;
    border-right: hidden; }
    .listLeft ul {
      font-size: 1.5625rem;
      padding-left: 0%;
      padding-right: 0%; }
      .listLeft ul li {
        list-style-type: none;
        margin: 0 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        width: 25rem; }
  .listRight {
    grid-area: ld;
    border-left: hidden; }
    .listRight ul {
      font-size: 1.5625rem;
      padding-left: 0%;
      padding-right: 0%; }
      .listRight ul li {
        list-style-type: none;
        margin: 0 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        width: 25rem; }
  /*main cuatro*/
  .gridMotor {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas: "listIzq listDer"; }
    .gridMotor ul {
      grid-area: listIzq;
      font-size: 1.5rem;
      padding: 5% 10% 5% 10%;
      border-right: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotor ul li {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem; }
    .gridMotor div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotor div img {
        height: 15.625rem;
        width: 18.75rem;
        border-radius: 25%; }
  /*MAIN CAMIONES*/
  .bodyGridCamiones {
    display: grid;
    grid-template-rows: 34.375rem 145.3125rem 14.0625rem;
    grid-template-columns: 100%;
    grid-template-areas: "header " "main" "footer"; }
  .mainCamiones {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14.375rem 30rem 31.25rem 26.875rem 43.75rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  /*main tres*/
  .listRightCamiones {
    grid-area: ld;
    border-left: hidden; }
    .listRightCamiones ul {
      font-size: 1.5rem;
      padding-left: 0%;
      padding-right: 0%; }
      .listRightCamiones ul li {
        list-style-type: none;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        width: 28.125rem; }
  .listLeftCamiones {
    grid-area: li;
    border-left: hidden; }
    .listLeftCamiones ul {
      font-size: 1.5rem;
      padding-left: 0%;
      padding-right: 0%; }
      .listLeftCamiones ul li {
        list-style-type: none;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        width: 28.125rem; }
  .gridMotorCamiones {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "listIzq listDer"; }
    .gridMotorCamiones ul {
      grid-area: listIzq;
      font-size: 1.5625rem;
      padding: 5% 5% 5% 5%;
      border-right: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotorCamiones ul li {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem; }
    .gridMotorCamiones div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotorCamiones div img {
        height: 15.625rem;
        width: 18.75rem;
        border-radius: 25%; }
  /*MAIN VANS*/
  .bodyGridVans {
    display: grid;
    grid-template-rows: 34.375rem 145.3125rem 14.0625rem;
    grid-template-columns: 100%;
    grid-template-areas: "header " "main" "footer"; }
  .mainVans {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 21.25rem 30rem 31.25rem 26.875rem 43.75rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  .gridListasVans {
    height: 26.25rem;
    padding-top: .9375rem; }
  .listRightVans {
    grid-area: ld;
    border-left: hidden; }
    .listRightVans ul {
      font-size: 1.5625rem;
      padding-left: 0%;
      padding-right: 0%; }
      .listRightVans ul li {
        list-style-type: none;
        margin: 0 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        width: 25rem; }
  .gridMotorVans {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    grid-template-areas: "listIzq listDer"; }
    .gridMotorVans ul {
      grid-area: listIzq;
      font-size: 1.5625rem;
      padding: 5% 5% 5% 5%;
      border-right: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotorVans ul li {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem; }
    .gridMotorVans div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotorVans div img {
        height: 15.625rem;
        width: 18.75rem;
        border-radius: 25%; }
  /*FOOTER*/
  .contactos ul li {
    margin: 0px 0px 0px 20px; } }

@media (max-width: 760px) {
  /*VEHICULOS MAIN*/
  .gridMotor {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas: "listIzq listDer"; }
    .gridMotor ul {
      grid-area: listIzq;
      font-size: 1.5625rem;
      padding: 5% 5% 5% 10%;
      border-right: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotor ul li {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 2.1875rem;
        margin: .625rem 0 .625rem 0;
        padding-left: .625rem;
        background-color: lightgray;
        border-radius: .625rem; }
    .gridMotor div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid;
      border-color: black;
      border-width: .0625rem; }
      .gridMotor div img {
        height: 17.5rem;
        width: 18.75rem;
        border-radius: 25%; }
  /*CAMIONES MAIN*/
  .gridMotorCamiones {
    grid-template-columns: 55% 45%; } }

@media (max-width: 730px) {
  /*INDEX*/
  .bodyGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 28.75rem 89rem 11.5625rem;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .headerSectionDos {
    height: 23.75rem; }
  .slAmg {
    padding: 2.5rem 0rem 0rem 1.875rem; }
    .slAmg div h2 {
      font-size: 2.1875rem; }
    .slAmg div p {
      padding-top: 0rem;
      margin-top: .875rem;
      background-color: rgba(0, 0, 0, 0.349); }
  .main {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1563694983011-6f4d90358083?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXMlMjBiZW56fGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3.75rem 31.25rem 2.5rem 28.125rem 23.75rem;
    grid-template-areas: "new new new" "n1 n1 n1" ". . ." "n2 n2 n2" "us us us"; }
    .main h2 {
      grid-area: new;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      padding-right: 1.25rem;
      padding-top: .625rem;
      padding-bottom: .625rem;
      color: white; }
  .nosotros p {
    background-color: rgba(253, 252, 252, 0.185);
    color: white;
    font-size: 1.375rem;
    width: 90%;
    height: 16.25rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center; }
  /*VEHICULOS*/
  .bodyGridVehiculos {
    display: grid;
    width: 100%;
    grid-template-rows: 28.125rem 109.375rem 11.5625rem;
    grid-template-areas: "header" "main" "footer"; }
  .mainVehiculos {
    background-color: #ecebeb;
    border-top: solid;
    border-width: .125rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 13.125rem 23.75rem 27.5rem 21.25rem 25rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  .modelos ul {
    list-style-type: none;
    font-size: 1.75rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
    padding-bottom: .5rem;
    border-color: black;
    border-bottom: solid;
    border-width: 1.5px; }
    .modelos ul li:nth-child(4) {
      display: none; }
    .modelos ul li {
      display: flex;
      flex-wrap: wrap; }
  .iconosAutos ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1.125rem;
    margin-bottom: .3125rem; }
    .iconosAutos ul li:nth-child(3) {
      display: none; }
    .iconosAutos ul li h3 {
      font-size: 1.3125rem; }
  .mainDos {
    grid-area: dos;
    margin-top: 1.125rem;
    border-bottom: solid;
    color: black;
    border-width: 1.5px; }
    .mainDos img {
      width: 100%;
      object-fit: none;
      height: 18.75rem;
      display: flex;
      justify-content: center; }
  .gridMotor {
    grid-template-columns: 100%;
    padding-top: 0rem; }
    .gridMotor ul {
      padding: 3% 15% 5% 15%;
      border-right: hidden; }
    .gridMotor div {
      display: none; }
  /*CAMIONES*/
  .bodyGridCamiones {
    display: grid;
    grid-template-rows: 28.75rem 118.75rem 11.5625rem;
    grid-template-columns: 100%;
    grid-template-areas: "header " "main" "footer"; }
  .mainCamiones {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14.375rem 28.125rem 28.125rem 20rem 28.125rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  .mainDosCamiones {
    margin: 0px; }
    .mainDosCamiones img {
      height: 23.75rem; }
  .gridListas {
    padding-top: .9375rem; }
  /*VANS*/
  .bodyGridVans {
    display: grid;
    grid-template-rows: 28.75rem 126.875rem 11.5625rem;
    grid-template-columns: 100%;
    grid-template-areas: "header " "main" "footer"; }
  .mainVans {
    grid-area: main;
    border-top: solid;
    border-width: .125rem;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 21.25rem 23.75rem 30rem 20.625rem 31.25rem;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco"; }
  .mainDosVans h2 {
    margin-bottom: 1.25rem; }
  .gridMotorVans {
    grid-template-columns: 100%;
    padding-top: 0rem; }
    .gridMotorVans ul {
      padding: 3% 15% 5% 15%;
      border-right: hidden; }
    .gridMotorVans div {
      display: none; }
  /*SERVICE*/
  .bodyGridService {
    display: grid;
    grid-template-rows: 28.125rem 84.375rem 11.5625rem;
    grid-template-columns: 100%;
    grid-template-areas: "header " "main" "footer"; }
  .mainUnoService h2 {
    color: white; }
  .mainUnoService p {
    color: white;
    font-size: 1.375rem; }
  /*HEADER*/
  .header {
    font-family: 'Poppins', sans-serif;
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-rows: 5rem 2.5rem 24.375rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo logo logo" " nav nav nav" " nav nav nav"; }
  .headerSectionUno {
    display: flex;
    justify-content: space-between;
    background-color: black;
    grid-area: logo; }
    .headerSectionUno img {
      height: 5rem;
      margin-left: .3125rem; }
    .headerSectionUno div {
      display: flex;
      justify-content: end;
      align-items: end;
      gap: .625rem;
      margin-right: .625rem;
      margin-bottom: 2px; }
      .headerSectionUno div img {
        width: 1.5rem;
        height: 1.5rem; }
      .headerSectionUno div a {
        text-decoration: none;
        font-size: .875rem;
        color: #f8f1f1; }
  /*FOOTER*/
  .logosFooter ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: .9375rem;
    padding-bottom: .9375rem;
    border-bottom-style: solid;
    border-color: white; }
    .logosFooter ul li img {
      height: 6.25rem; }
  .contactosRedes {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-top: .625rem; }
  .contactos ul {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1.125rem; }
    .contactos ul li {
      margin: 0px 20px 0px 20px; }
  .logosRedes {
    display: none; } }
