.bodyGridVehiculos {
    display: grid;
    width: 100%;
    grid-template-rows: 34.375rem 132.1875rem 14.0625rem;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.backgroundHeader {
    background-image: url(https://cdn.motor1.com/images/mgl/bexBr/s3/mercedes-eqb.jpg);
}

.buttonVehiculos button {
    background-color: rgba(0, 0, 0, 0.575);
}

.mainVehiculos {

    background-color: rgb(236, 235, 235);
    border-top: solid;
    border-width: .125rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 13.4375rem 30rem 18.125rem 26.875rem 43.75rem;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
}

.mainUno {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    border-bottom: solid;
    border-width: 1.5px;
}

.modelos {
    ul {
        list-style-type: none;
        font-size: 1.75rem;
        display: flex;
        justify-content: space-evenly;
        margin-top: .5rem;
        padding-bottom: .5rem;
        border-color: black;
        border-bottom: solid;
        border-width: 1.5px;
    }
}

.iconosAutos {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 1.125rem;
        margin-bottom: .3125rem;

        li {
            h3 {
                font-size: 1.3125rem;
            }
        }
    }
}

.mainDos {
    grid-area: dos;
    margin-top: 1.125rem;
    border-bottom: solid;
    color: black;
    border-width: 1.5px;

    h2 {
        font-size: 1.875rem;
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
        object-fit: none;
        height: 25rem;
        display: flex;
        justify-content: center;
    }
}

/*MAIN TRES*/

.mainTres {
    grid-area: tres;
    border-bottom: solid;
    color: black;
    border-width: 1.5px;

    h2 {
        display: flex;
        justify-content: center;
        font-size: 2.1875rem;
        padding-top: .625rem
    }
}

.gridListas {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
        "li ld";
}

.listLeft {
    grid-area: li;
    border-right: solid;
    border-color: black;
    border-width: .0625rem;

    ul {
        font-size: 1.5625rem;
        padding-left: 10%;
        padding-right: 10%;

        li {
            list-style-type: none;
            margin: .625rem 0 .625rem 0;
            padding-left: .625rem;
            background-color: lightgray;
            border-radius: .625rem;
            display: flex;
            align-items: center;
            height: 2.1875rem;
        }
    }
}

.listRight {
    grid-area: ld;
    border-left: solid;
    border-color: black;
    border-width: .0625rem;

    ul {
        font-size: 1.5625rem;
        padding-left: 10%;
        padding-right: 15%;

        li {
            list-style-type: none;
            margin: .625rem 0 .625rem 0;
            padding-left: .625rem;
            background-color: lightgray;
            border-radius: .625rem;
            display: flex;
            align-items: center;
            height: 2.1875rem;
        }
    }
}

/*MAIN CUATRO*/

.mainCuatro {
    grid-area: cuatro;
    padding-top: 1.25rem;
    border-bottom: solid;
    border-color: black;
    border-width: .0938rem;

    h2 {
        display: flex;
        justify-content: center;
        font-size: 2.1875rem;
    }
}

.gridMotor {
    padding-top: 2.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
        "listIzq listDer";

    ul {
        grid-area: listIzq;
        font-size: 1.5625rem;
        padding: 5% 10% 5% 10%;
        border-right: solid;
        border-color: black;
        border-width: .0625rem;

        li {
            list-style-type: none;
            display: flex;
            align-items: center;
            height: 2.1875rem;
            margin: .625rem 0 .625rem 0;
            padding-left: .625rem;
            background-color: lightgray;
            border-radius: .625rem;
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid;
        border-color: black;
        border-width: .0625rem;

        img {
            height: 18.75rem;
            width: 25rem;
            border-radius: 25%;
        }
    }
}

/*MAIN CINCO*/

.mainCinco {
    grid-area: cinco;
    background-image: url(https://www.mercedes-benz.com.uy/mercedes/site/artic/20230120/imag/foto_0000009720230120152324/Disen_o_interior_clase_SL_amg_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        width: 8.75rem;
        text-align: center;
        background-color: black;
        font-size: 2.1875rem;
        color: white;
        margin-left: 1.25rem;
        margin-top: 1.25rem;
    }
}