@media (max-width:730px){
    /*INDEX*/
    .bodyGrid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 28.75rem 89rem 11.5625rem;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer"
        ;
    }

    .headerSectionDos{
        height: 23.75rem;
    }

    .slAmg{
        padding: 2.5rem 0rem 0rem 1.875rem ;
        div{
            h2{
                font-size: 2.1875rem;
            }
            p{
                padding-top: 0rem;
                margin-top: .875rem;
                background-color: rgba(0, 0, 0, 0.349);
            }
        }
    }

    .main{
        grid-area: main;
        border-top:solid;
        border-width: .125rem;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1563694983011-6f4d90358083?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXMlMjBiZW56fGVufDB8fDB8fHww&w=1000&q=80);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3.75rem 31.25rem 2.5rem 28.125rem 23.75rem;
        grid-template-areas:
            "new new new"
            "n1 n1 n1"
            ". . ."
            "n2 n2 n2"
            "us us us"
        ;
        h2{
            grid-area: new;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            padding-right: 1.25rem;
            padding-top: .625rem;
            padding-bottom: .625rem;
            color: white;
            
        }
    }
    
    .nosotros{
        p{
            background-color: rgba(253, 252, 252, 0.185);
            color: white;
            font-size: 1.375rem;
            width: 90%;
            height: 16.25rem;
            text-align: center;
            margin-top: 1.25rem;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    /*VEHICULOS*/
    .bodyGridVehiculos {
        display: grid;
        width: 100%;
        grid-template-rows: 28.125rem 109.375rem 11.5625rem;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }

    .mainVehiculos {

        background-color: rgb(236, 235, 235);
        border-top: solid;
        border-width: .125rem;
        grid-area: main;
        display: grid;
        grid-template-rows: 13.125rem 23.75rem 27.5rem 21.25rem 25rem;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco";
    }

    .modelos {
        ul {
            list-style-type: none;
            font-size: 1.75rem;
            display: flex;
            justify-content: space-evenly;
            margin-top: .5rem;
            padding-bottom: .5rem;
            border-color: black;
            border-bottom: solid;
            border-width: 1.5px;
            li:nth-child(4) {
                display: none;
            }
            li{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .iconosAutos {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin-top: 1.125rem;
            margin-bottom: .3125rem;
            li:nth-child(3){
                display: none;
            }
            li {
                h3 {
                    font-size: 1.3125rem;
                }
            }
        }
    }

    .mainDos {
        grid-area: dos;
        margin-top: 1.125rem;
        border-bottom: solid;
        color: black;
        border-width: 1.5px;
    
        img {
            width: 100%;
            object-fit: none;
            height: 18.75rem;
            display: flex;
            justify-content: center;
        }
    }

    .gridMotor{
        grid-template-columns: 100%;
        padding-top: 0rem;

        ul{
            padding: 3% 15% 5% 15%;
            border-right: hidden;
        }
        div{
            display: none;
        }
    }

    /*CAMIONES*/

    .bodyGridCamiones {
        display: grid;
        grid-template-rows: 28.75rem 118.75rem 11.5625rem;
        grid-template-columns: 100%;
        grid-template-areas:
            "header "
            "main"
            "footer"
        ;
    
    }

    .mainCamiones {
        grid-area: main;
        border-top: solid;
        border-width: .125rem;
        background-color: rgb(248, 248, 248);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 14.375rem 28.125rem 28.125rem 20rem 28.125rem;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco";
    }
    
    .mainDosCamiones{
        margin: 0px;
        img{
            height: 23.75rem;
        }
    }

    .gridListas{
        padding-top: .9375rem;
    }

    /*VANS*/
    .bodyGridVans {
        display: grid;
        grid-template-rows: 28.75rem 126.875rem 11.5625rem;
        grid-template-columns: 100%;
        grid-template-areas:
            "header "
            "main"
            "footer"
        ;
    }

    .mainVans {
        grid-area: main;
        border-top: solid;
        border-width: .125rem;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 21.25rem 23.75rem 30rem 20.625rem 31.25rem;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco";
    
    }

    .mainDosVans{
        h2 {
            margin-bottom: 1.25rem;
        }
    }

    .gridMotorVans{
        grid-template-columns: 100%;
        padding-top: 0rem;

        ul{
            padding: 3% 15% 5% 15%;
            border-right: hidden;
        }
        div{
            display: none;
        }
    }

    
    
    /*SERVICE*/
    .bodyGridService {
        display: grid;
        grid-template-rows: 28.125rem 84.375rem 11.5625rem;
        grid-template-columns: 100%;
        grid-template-areas:
            "header "
            "main"
            "footer"
        ;
    }

    .mainUnoService {
        h2 {
            color: white;
        }
    
        p {
            color: white;
            font-size: 1.375rem;
        }
    }

    /*HEADER*/
    .header {
        font-family: 'Poppins', sans-serif;
        grid-area: header;
        display: grid;
        width: 100%;
        grid-template-rows: 5rem 2.5rem 24.375rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "logo logo logo"
            " nav nav nav"
            " nav nav nav";
    }
    
    .headerSectionUno {
        display: flex;
        justify-content: space-between;
        background-color: black;
        grid-area: logo;
    
        img {
            height: 5rem;
            margin-left: .3125rem;
        }
    
        div {
            display: flex;
            justify-content: end;
            align-items: end;
            gap: .625rem;
            margin-right: .625rem;
            margin-bottom: 2px;
    
            img {
                width: 1.5rem;
                height: 1.5rem;
            }
    
            a {
                text-decoration: none;
                font-size: .875rem;
                color: rgb(248, 241, 241);
            }
        }
    }

    /*FOOTER*/
    .logosFooter{
        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            margin-top: .9375rem;
            padding-bottom: .9375rem;
            border-bottom-style: solid;
            border-color: white;
            li{
                img{
                height: 6.25rem;}
            }
        }
        
    }

    .contactosRedes{
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin-top: .625rem;
    }

    .contactos{
        ul{
            list-style-type: none;
            display: flex;
            color: white;
            font-size: 1.125rem;
            li{
                margin: 0px 20px 0px 20px;
            }
        }
    }

    .logosRedes{
        display: none;
    }

}